/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  /* crisp and dramatic */
  /* --primaryColor: #505160;
  --secondaryColor: #aebd38;
  --tertiaryColor: #598234;
  --quaternaryColor: #68829e; */
  /* ~~~~~ */
  /* outdoors and natural */
  /* --primaryColor: #2e4600;
  --secondaryColor: #7d4427;
  --tertiaryColor: #486b00;
  --quaternaryColor: #a2c523; */
  /* ~~~~~ */
  /* playful greens & blues */
  /* --primaryColor: #324851;
  --secondaryColor: #86ac41;
  --tertiaryColor: #34675c;
  --quaternaryColor: #7da3a1; */
  /* ~~~~~ */
  /* autumn in vermont */
  /* --primaryColor: #1e434c;
  --secondaryColor: #c99e10;
  --tertiaryColor: #9b4f0f;
  --quaternaryColor: #8d230f; */
  /* ~~~~~ */
  /* warm naturals */
  /* --primaryColor: #2e2300;
  --secondaryColor: #6e6702;
  --tertiaryColor: #c05805;
  --quaternaryColor: #db9501; */
  /* ~~~~~ */
  /* ermillion and russian green */
  /* --primaryColor: #a33326;
  --secondaryColor: #5cdb95;
  --tertiaryColor: #907163;
  --quaternaryColor: #379683; */
  /* ~~~~~ */
  /* jazz */
  --jazz1: #2a7e90;
  --jazz2: #165120;
  --jazz3: #031138;
  --jazz4: #013c40;
  /* ~~~~~~~ */
  /* interesting */
  --rainbow: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet);
  --oldFilmReel: radial-gradient(#fff, #757575)
    /* ~~~~~ */
    /* --primaryColor: #2f2f2f;
  --secondaryColor: #dd541b; */
}

html {
  box-sizing: border-box;
  font-family: monospace;
  background-color: var(--jazz1);
  color: var(--jazz2);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.yo-globe {
  min-height: 100vh;
  display: grid;
  position: relative;
  grid-gap: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-template-areas:
    "m m m m m m m m m m m m"
    "c c c c c c c c c c c c"
    "l l l l l l l l l l l l";
}

/* ~~~~~~~~~~~~~~ */
/* navigation full page menu */
/* ~~~~~~~~~~~~~~ */
.overlay {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  overflow-x: hidden;
  transition: 0.5s;
  font-size: 2rem;
}

/* ~~~~~~~~~~~~~~ */
/* position of the navigation links inside the overlay */
/* ~~~~~~~~~~~~~~ */
.overlay-content {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 25%;
  display: inline-block;
  margin: auto;
  text-align: center;
}

/* ~~~~~~~~~~~~~~ */
/* navigation links inside the overlay */
/* ~~~~~~~~~~~~~~ */
.overlay a {
  padding-bottom: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--primaryColor);
  display: block;
  transition: 0.3s;
}

.exit {
  /* border: solid black; */
  grid-area: m;
  display: inline-flex;
  font-size: 3rem;
  top: 0;
  right: 0;
}

.menu {
  /* border: solid black; */
  grid-area: m;
  display: inline-flex;
  margin-left: auto;
  font-size: 3rem;
  top: 0;
  right: 0;
}

/* ~~~~~~~~~~~~~~ */
/* bottom links */
/* ~~~~~~~~~~~~~~ */
.links {
  /* border: solid black; */
  grid-area: l;
  position: absolute;
  width: 100vw;
  bottom: 0;
  height: 40px;
  grid-area: l;
  z-index: 0;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  justify-content: space-between;
}

.links img {
  height: 40px;
  cursor: pointer;
}

.fa {
  color: var(--jazz2);
}